<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>671096069432-fkm7k0nbnhlgd252dgbi9u7cpqcl1mfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671096069432-fkm7k0nbnhlgd252dgbi9u7cpqcl1mfe</string>
	<key>API_KEY</key>
	<string>AIzaSyC7AKfgoG7bHmh-6x32bGh7S9jXHliGZIU</string>
	<key>GCM_SENDER_ID</key>
	<string>671096069432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyun.bioface</string>
	<key>PROJECT_ID</key>
	<string>biogcm-185509</string>
	<key>STORAGE_BUCKET</key>
	<string>biogcm-185509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671096069432:ios:70b12bcd46b74c40</string>
	<key>DATABASE_URL</key>
	<string>https://biogcm-185509.firebaseio.com</string>
</dict>
</plist>